* {
    margin: 0;
    padding: 0;

}

/*start heading part*/
header {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    width: 20%;
}

.logo img {
    width: 61%;
}

nav {

    width: 40%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: end;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #2d3950;
}

/*end header part*/
/*start banner part*/

.banner {
    background-image:
        url(../images/Strict.png);
    min-height: 85vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.banner_content {
    width: 35%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner_content h1 {
    color: #fff;
    font-size: 50px;
}

.banner_content span {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #46a9ff;
}

.banner_content p {
    color: #fff;
    margin-top: 10px;
}

.banner_content button {
    background: transparent;
    border: 1px solid #46a9ff;
    text-transform: capitalize;
    color: #fff;
    margin-top: 20px;
    padding: 10px;
    border-radius: 2px;
}

.banner_content button:hover {
    background-color: #46a9ff;
    transition: 0.4s all ease-in;
    cursor: pointer;
}

.chevron_down {
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translate(-50%, 0px);
    color: #fff;
    animation: updown 0.5s linear infinite;
    animation-direction: alternate;
}

@keyframes updown {
    0% {
        bottom: 70px;
    }

    100% {
        bottom: 60px;
    }
}

/*end banner part*/
/*start article part*/
.article {
    background-color: #e9f9ff;
    padding-top: 65px;
    padding-bottom: 63px;
}

.article_content {
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.article_content h2 {
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 19px;
}

.article_content p {
    margin-top: 15px;
    color: #999999;
    font-size: 16px;
}

/*end article part*/
/*start icon part*/

.icon {
    width: 100%;
    padding-top: 58px;
    padding-bottom: 56px;
}

.icon_content {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
}

.content_one {
    width: 30%;
    text-align: center;
}

.first {
    height: 70px;
    width: 70px;
    background-color: #04c5ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #fff;
    margin: auto;
}

.content_one h3 {
    margin-top: 23px;
    color: #2d3950;
    font-weight: 500;
    font-size: 24px;
}

.content_one p {
    margin-top: 16px;
    color: #999999;
    font-size: 16px;
}

/*end icon part*/
/* start somepic part*/
.somepic {

    width: 100%;

    padding-top: 90px;

    padding-bottom: 50px;

    background-color: #e9f9ff;

    padding-bottom: 80px;
}

.heading {
    text-align: center;
    margin-bottom: 100px;
}

.heading h2 {
    color: #2d3950;
    font-weight: 500;
    font-size: 31px;
}

.heading p {
    color: #999999;
    margin-top: 19px;
    font-size: 16px;
    margin-bottom: 50px;
}

.item {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.item_one {
    width: 32%;
    position: relative;
    margin-bottom: 10px;

}

.item_one img {
    width: 100%;
}

.item_one::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    background-color: #04c5ff;
    opacity: .4;
    transition: 0.4s all ease-in-out;
}

.item_one:hover::after {
    width: 100%;
    height: 100%;
}

/*end somepic part*/
.form_part {
    background-image: url(../images/form1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 87vh;
}

.login {
    background-image: url(../images/form.png);
    min-height: 87vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.login_one {
    text-align: center;
    padding-top: 40px;
}

.login_one h2 {
    color: #fff;
}

.login_one p {
    padding-top: 10px;
    margin-bottom: 27px;
    color: #fff;
}

.login_two {
    width: 100%;
    text-align: center;
}

.login_two input {
    background: transparent;
    margin-bottom: 10px;
    border: 1px solid beige;
    outline: none;
    height: 28px;
    border-style: groove;
    border-radius: 2px;
    width: 28%;
    color: #fff;
    cursor: auto;
}

.login_two textarea {
    background: transparent;
    border: 1px solid beige;
    border-radius: 2px;
    outline: none;
    width: 28%;
    color: #fff;
    cursor: auto;
}

.part_two {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.part_sin {
    width: 16%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.part_sin input {}

.part_sin p {
    color: #fff;
}

.butn {
    width: 15%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.butn button {
    background: transparent;
    border: 1px solid #4273ff;
    color: #ffff;
    padding: 4px 10px;
    cursor: progress;
}

/*form part*/
.form_part {
    background-image: url(../images/form1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60vh;


}

.login {
    background-image: url(../images/form.png);
    min-height: 87vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.login_one {
    text-align: center;
    padding-top: 100px;
}

.login_one h2 {

    color: #fff;
}

.login_one p {
    padding-top: 10px;
    margin-bottom: 27px;
    color: #fff;
}

.login_two {
    width: 100%;
    text-align: center;
}

.login_two input {
    background: transparent;
    margin-bottom: 40px;
    border: 1px solid beige;
    outline: none;
    height: 40px;
    border-style: groove;
    border-radius: 2px;
    width: 28%;
    color: #fff;
    cursor: auto;
}

.login_two textarea {
    background: transparent;
    border: 1px solid beige;
    border-radius: 2px;
    outline: none;
    width: 28%;
    color: #fff;
    cursor: auto;
}

.part_two {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.part_sin {
    width: 16%;
    display: flex;
    align-items: center;
}

.part_sin input {}

.part_sin p {}

.butn {
    width: 15%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.butn button {}

footer {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    JUSTIFY-CONTENT: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.side_one {
    width: 30%;
}

.side_one p {
    color: #999999;
    font-size: 16px;
}

.side_two {
    width: 40%;
}

.side_two ul {
    display: flex;
    justify-content: end;
    list-style: none;
}

.side_two ul li {

    margin-left: 45px;
}